In [14]:

fname = input ("your first name:")

lname = input("your last name:")
print(lname, fname)

your first name:youssef
your last name:mahdi
mahdi youssef

In [11]:
n=5
nn=55
nnn=555
print(n+nn+nnn)

615

In [12]:
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")

Enter a number: 3
This is an odd number.

In [13]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [62]:
n=int(input("n:"))

a=1
b="1"
if (n<=1):
    print(n,"!=1")
else:    
    for i in range(1,n+1):
        a=a*i
    for i in range (2,n+1):
        b=str(i)+"*"+b
    
    print (n,"!=",b,"=",a)

n:0
0 !=1

In [65]:
def odd_values_string(str):  
  result = ""   
  for i in range(len(str)):  
    if i % 2 == 0:  
      result = result + str[i]  
  return result  
  
print(odd_values_string('hello team'))

hlota

In [101]:
n=int(input("OLD PRICE"))
if n >(500): 
    N =n- ((n /100)*50)
    print("50% discount")
elif (n>= 200):
      N =n- ((n /100)*30)
      print("30% discount")
else :
    N =n- ((n /100)*10)
    print("10% discount")
print ("NEW PRICE :",N)

OLD PRICE1000
50% discount
NEW PRICE : 500.0